<div class="container">
  <h1 class="head">ToDo List</h1>
  <table class="table table-default">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>ToDo Item</th>
      <th>Done</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let todoItem of todoItems; let i = index">
      <td>{{i+1}}</td>
      <td>{{todoItem.title}}</td>
      <td>{{todoItem.done}}</td>
      <td>
        <button id="view" class="btn btn-success m-2" href="#" role="button">View</button>
        <button id="delete" class="btn btn-danger" href="#" role="button" (click)="deleteTodo(todoItem.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button id="add" class="btn btn-primary m-2" routerLink="form" role="button">Add</button>

</div>
