<div class="container">
    <h1 class="head">ToDo List</h1>
    <table class="table table-default">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>ToDo Item</th>
                <th>Done</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                    <td>
                    <a name="Add" id="Add" class="btn btn-primary m-2"routerLink="form" role="button">Add</a>
                    <a name="Add" id="Add" class="btn btn-success m-2" href="#" role="button">View</a>
                    <a name="Add" id="Add" class="btn btn-danger" href="#" role="button">Delete</a></td>
                </tr>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
    </table>
</div>